header { 
  
}

body {
	background-color: black;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;
	font-family: courier,Courier New,
	Lucida Sans Typewriter,
	Lucida Typewriter,monospace;
	color: white;
    ;
	;
}
	
#para{ left: 0;
    line-height: 200px;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

#music{ left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-left: -100px;
}

#videos{ left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

#merch{ left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-left: 100px;
}

/*centering body*/



