

body 
{
	background-color: black;
	font-size: 25px;
	text-transform: lowerecase;
	font-family: courier,Courier New,
	Lucida Sans Typewriter,
	Lucida Typewriter,monospace;
	color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;        
    transform: translate(-50%, -50%);

}

.logo
{
    width: 100px;
    letter-spacing: 0;
    margin-top: -7px;
    display: inline-block;
    text-align: center;
    position: static;

}